---
// layout and components
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import LinkButton from "../components/LinkButton.astro";
import Hr from "../components/Hr.astro";
import Card from "../components/Card.astro";
import PT from "../components/PortableText/PortableText.astro";
// import Card from "../components/ReactCard";
import Socials from "../components/Socials.astro";
// site config
import { SOCIALS } from "../config";
// queries
import {
  getAbout,
  getSettings,
  getPosts,
  getRecentPosts,
} from "../lib/sanity/utils/sanityQueries";

const about = await getAbout();
const settings = await getSettings();
console.log({ urls: settings.urls });
const posts = await getPosts();
const featuredPosts = posts.filter(({ data }) => data.featured);
const recentPosts = await getRecentPosts();

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero" class="py-4">
      <PT value={about.overview} />
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="mt-4 flex flex-col sm:flex-row sm:items-center">
            <div class="mb-1 mr-2 whitespace-nowrap sm:mb-0">
              Síguenos en nuestras redes sociales:
            </div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured" class="pb-6 pt-12">
            <h2 class="text-2xl font-semibold tracking-wide">
              Publicaciones Destacadas
            </h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts" class="pb-6 pt-12">
          <h2 class="text-2xl font-semibold tracking-wide">
            Publicaciones Recientes
          </h2>
          <ul>
            {recentPosts.map(({ data, slug }) => (
              <Card
                href={`/posts/${slug}/`}
                frontmatter={data}
                secHeading={false}
              />
            ))}
          </ul>
        </section>
      )
    }

    <div class="my-8 text-center">
      <LinkButton href="/posts/">
        Todas las Publicaciones
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>
