---
import Layout from '../layouts/Layout.astro'
import Main from '../layouts/Main.astro'
import Card from './Card.astro'
import Pagination from './Pagination.astro'
import { SITE } from '../config'
import type { Post } from '../lib/sanity/utils/sanityQueries'

export interface Props {
  currentPage: number
  totalPages: number
  paginatedPosts: Post[]
  tag: string
  slug: string
}

const { currentPage, totalPages, paginatedPosts, tag, slug } = Astro.props
---

<Layout title={`Tag: ${slug} | ${SITE.title}`} totalPages={totalPages}>
  <Main
    pageTitle={[`Tag:`, `${tag}`]}
    titleTransition={slug}
    pageDesc={`Todas las publicaciones con el tag "${slug}".`}
  >
    <h1 slot='title' transition:name={slug}>{`Tag:${slug}`}</h1>
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/blog/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/tags/${tag}${
      currentPage - 1 !== 1 ? '/' + (currentPage - 1) : ''
    }/`}
    nextUrl={`/tags/${tag}/${currentPage + 1}/`}
  />
</Layout>
