---
import Layout from './Layout.astro'
import Main from './Main.astro'
import Pagination from '../components/Pagination.astro'
import Card from '../components/Card.astro'
import { SITE } from '../config'
import type { Post } from '../lib/sanity/utils/sanityQueries'

export interface Props {
  currentPage: number
  totalPages: number
  paginatedPosts: Post[]
}

const { currentPage, totalPages, paginatedPosts } = Astro.props
---

<Layout
  title={`Posts | ${SITE.title}`}
  activeNav='blog'
  totalPages={totalPages}
>
  <!-- <Header activeNav='blog' /> -->
  <Main pageTitle='Publicaciones' pageDesc='Todos los artículos publicados.'>
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/blog/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/blog${currentPage - 1 !== 1 ? '/' + (currentPage - 1) : ''}/`}
    nextUrl={`/blog/${currentPage + 1}/`}
  />
</Layout>
